#graph .node rect {
  stroke: black;
  fill: white;
}
#graph .node text {
  cursor: default;
  user-select: none;
}

.theme-dark #graph .node rect {
  stroke: #E0E3E5;
  fill: #BCBFC3;
}

#graph .node.selected rect {
  stroke: purple;
}

.theme-dark #graph .node.selected rect {
  stroke: lightcoral;
}

#graph .node.valid-target rect {
  stroke: green;
}

#graph .link {
  stroke: black;
}

.theme-dark #graph .link {
  stroke: #E0E3E5;
}


#graph .link.new-link {
  stroke: purple;
  pointer-events: none;
}

.node-expand-btn {
  font-size: 30px;
  font-family: monospace;
}