
#graph .node rect {
  stroke: black;
  fill: white;
}
#graph .node text {
  cursor: default;
  user-select: none;
}

#graph .node.selected rect {
  stroke: purple;
}

#graph .node.valid-target rect {
  stroke: green;
}

#graph .link {
  stroke: black;
}

#graph .link.new-link {
  stroke: purple;
  pointer-events: none;
}
