@import 'node_modules/normalize.css/normalize.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: helvetica, arial, sans;
  overflow-y: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

#toolbar {
  position: absolute;
  width: 100%;
  padding: 30px 30px 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

#toolbar > .container {
  display: flex;
}

#toolbar .icon {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
  background: #f9f9ec;
  opacity: 0.25;
  pointer-events: auto;
}
#toolbar .icon:not(:last-child) {
  margin-right: 32px;
}
#toolbar .icon:hover {
  background: purple;
  border-color: white;
  box-shadow: 0 0 0 2px purple;
  opacity: 1;
}
#toolbar .icon:hover img {
  filter: invert(1);
}
#toolbar .icon:active {
  box-shadow: none;
}

#toolbar .search-open > * {
}

#search {
  display: flex;
  flex-direction: column;
  width: 600px;
}

#search .search-input {
  width: 100%;
  height: 50px;
  position: relative;
  border: 2px solid;
  border-radius: 25px;
  background: #f9f9ec;
  position: relative;
  background: white;
  z-index: 1;
}

#search .search-input input {
  height: 100%;
}

#search .result-container {
  padding: 32px 8px 8px;
  border: 2px solid black;
  border-top: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  top: -24px;
  position: relative;
  background: white;
}

#search .search-result {
  height: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding: 0 8px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  cursor: pointer;
}
#search .search-result:hover {
  border: 2px solid purple;
}

#search .search-icon {
  position: absolute;
  top: 12px;
  left: 8px;
  height: 24px;
}

#search .clear-icon {
  position: absolute;
  top: 12px;
  right: 8px;
  height: 24px;
  cursor: pointer;
}

#search input {
  border: none;
  background: none;
  padding: 0 42px;
  font-size: 20px;
  width: 100%;
}

#editor-container {
  height: 100%;
  padding: 0.5em;
  box-shadow: -2px 0px 16px 0px rgba(0,0,0,0.25);
  background: #eee;
  flex: 0 0 100%;
  z-index: 2;
}
@media (min-width: 1280px) {
  #editor-container {
    flex: 0 0 800px;
  }
}
@media (min-width: 1600px) {
  #editor-container {
    flex: 0 0 1024px;
  }
}

#editor-right-buttons {
  float: right;
}

#editor-right-buttons *{
  margin-left: 0.1em;
  margin-right: 0.1em;
}

#text-edit-tools {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#text-edit-tools * {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

#editor-title {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#editor-tags * {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

#editor-tools {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#editor {
  height: 85%;
  width: 100%;
  resize: none;
  padding: 1em;
  border: 0 !important;
}

#editor-close {
  border: none;
  border-radius: 50%;
  margin-bottom: 8px;
  padding: 4px 8px;
  background: none;
}

#editor-close:hover {
  background: lightgray;
}

#graph-view-component {
  background: white;
  position: relative;
  flex: auto;
  height: 100%;
  overflow: hidden;
  background: #f8f8f8;
}

#graph-view-component > .home-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

#d3-container {
  background: #f9f9ec;
}

.home-icon {
  position: relative;
  width: 32px;
  height: 8px;
  margin-top: 8px;
  margin-bottom: 12px;
  background: black;
  opacity: 0.25;
}

.home-icon:hover {
  opacity: 0.5;
}

.home-icon:before {
  content: '';
  position: absolute;
  top: -7.5px;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 8px solid black;
}

.home-icon:after {
  content: '';
  position: absolute;
  bottom: -12px;
  width: 9px;
  height: 16px;
  border-left: 12px solid black;
  border-right: 12px solid black;
}

.node > text {
  cursor: default;
}

#settings-panel {
  position: absolute;
  height: 80%;
  width: 50%;
  top: 15%;
  left: 25%;
  background: #FFF;
  z-index: 3;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  overflow: auto;
}

#settings-panel .settings-close {
  text-align: right;
  align-items: right;
  margin-right: 0.1em;
}

#settings-panel .settings-container {
  height: 80%;
  width: 80%;
  left: 9.5%;
  top: 3%;
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  overflow: auto;
}

#settings-panel .settings-title {
  padding-top: 0em;
  text-align: center;
}

#settings-panel .settings-select {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  width: 300px;
}

#settings-panel .checkbox-container {
  padding-top: 2em;
}

#settings-panel .settings-checkbox {
  margin-left: 3.2em;
  display: inline-block;
  width: 15px;
  vertical-align: text-top;
}

#settings-panel .radio-container {
  padding-top: 1em;
}

#settings-panel .settings-radio {
  margin-left: 3.2em;
  display: inline-block;
  width: 15px;
  vertical-align: text-top;
}

#settings-panel .settings-label {
  display: inline-block;
  width: 300px;
  word-break: break-all;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#settings-panel .selection-container {
  padding-top: 1em;
  text-align: center;
}
