@import 'normalize.css/normalize.css';

html, body {
  height: 100%;
  width: 100%;
  font-family: helvetica, arial, sans;
  overflow-y: hidden;
  padding: 4px;
  box-sizing: border-box;
  background: #eee;
}

#root {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
}

#debug-panel {
  width: 25em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f8f8f8;
  outline: 3px solid navy;
}
#debug-panel-header {
  color: white;
  background: navy;
  padding: 0.25em 2em;
  cursor: pointer;
}
#debug-panel-body {
  padding: 0.5em;
  overflow: auto;
  max-height: 20em;
}

#editor-container {
  /* TODO: This  should be 100%, but then things overflow */
  position: absolute;
  right: 0;
  width: 25%;
  height: 100%;
  padding: 0.5em;
  box-shadow: -2px 0px 16px 0px rgba(0,0,0,0.25);
  background: #eee;
}

#editor {
  height: 100%;
  width: 100%;
  resize: none;
  padding: 1em;
  border: 0 !important;
}

#editor-close {
  border: none;
  border-radius: 50%;
  margin-bottom: 8px;
  padding: 4px 8px;
  background: none;
}
#editor-close:hover {
  background: lightgray;
}

#graph-view-component {
  background: white;
  position: relative;
}
#graph-view-component > .home-icon {
  position: absolute;
  top: 10px;
  left: 10px;
}
#d3-container {
}

.home-icon {
  position: relative;
  width: 32px;
  height: 8px;
  margin-top: 8px;
  margin-bottom: 12px;
  background: black;
  opacity: 0.25;
}
.home-icon:hover {
  opacity: 0.5;
}

.home-icon:before {
  content: '';
  position: absolute;
  top: -7.5px;
  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 8px solid black;
}
.home-icon:after {
  content: '';
  position: absolute;
  bottom: -12px;
  width: 9px;
  height: 16px;
  border-left: 12px solid black;
  border-right: 12px solid black;
}

.node > text {
  cursor: default;
}
