@import url('./reset.css');

html, body {
  height: 100%;
  width: 100%;
  font-family: helvetica, arial, sans;
  overflow-y: hidden;
}

#root {
  height: 100%;
  width: 100%;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
}

#debug-panel {
  width: 25em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #f8f8f8;
  outline: 3px solid navy;
}
#debug-panel-header {
  color: white;
  background: navy;
  padding: 0.25em 2em;
  cursor: pointer;
}
#debug-panel-body {
  padding: 0.5em;
  overflow: auto;
  max-height: 20em;
}

#editor-container {
  /* TODO: This  should be 100%, but then things overflow */
  height: 96.5%;
  width: 100%;
  padding: 1em;
  border-left: 2px solid black;
}

#editor {
  height: 100%;
  width: 100%;
  resize: none;
}

.node {
  stroke: black;
  stroke-width: 2px;
}

.link {
  stroke: black;
  stroke-width: 2px;
}
