#editor-container {
  height: 100%;
  padding: 0.5em;
  box-shadow: -2px 0px 16px 0px rgba(0,0,0,0.25);
  background: #eee;
  flex: 0 0 100%;
  z-index: 2;
  overflow-y: auto;
}
@media (min-width: 1280px) {
  #editor-container {
    flex: 0 0 800px;
  }
}
@media (min-width: 1600px) {
  #editor-container {
    flex: 0 0 1024px;
  }
}

#editor-container > .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

#editor-container #editor-right-buttons {
  display: flex;
}

#editor-container #editor-right-buttons .icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 4px;
  opacity: 0.4;
}

#editor-container #editor-right-buttons img {
  width: 100%;
  height: 100%;
}

#editor-container #editor-right-buttons .icon:not(:last-child) {
  margin-right: 32px;
}

#editor-container #editor-right-buttons .icon:hover {
  opacity: 1;
}

#editor-container #editor-title {
  background: none;
  border: none;
  font-size: 125%;
  flex: auto;
  margin-right: 64px;
}
#editor-container #editor-title:focus {
  background: white;
  border: default;
}

#editor-container #editor-tags {
  background: none;
  border: none;
  width: 100%;
  font-size: 90%;
}
#editor-container #editor-tags:focus {
  background: white;
  border: default;
}

#editor-container #editor {
  height: 85%;
  width: 100%;
  resize: none;
  padding: 16px 0 0;
  border: 0 !important;
}

#editor-container #editor .cm-s-mirrormark {
  height: 100%;
}

#editor-container #editor .CodeMirror-scroll {
  height: 100% !important;
  cursor: text;
  padding: 0.5em;
}

#handwriting-editor {
  width: calc(100vw - 16px);
  height: calc(100vh - 78px);
  overflow: auto;
  background-color: white;
}
