#editor-container {
  height: 100%;
  padding: 0.5em;
  box-shadow: -2px 0px 16px 0px rgba(0,0,0,0.25);
  background: #eee;
  flex: 0 0 100%;
  z-index: 2;
}
@media (min-width: 1280px) {
  #editor-container {
    flex: 0 0 800px;
  }
}
@media (min-width: 1600px) {
  #editor-container {
    flex: 0 0 1024px;
  }
}

#editor-container > .container {
  display: flex;
  justify-content: space-between;
}

#editor-container #editor-right-buttons {
  display: flex;
}

#editor-container #editor-right-buttons *{
  margin-left: 0.1em;
  margin-right: 0.1em;
}

#editor-container #editor-right-buttons .icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
  background: #f9f9ec;
  opacity: 0.25;
  pointer-events: auto;
}

#editor-container #editor-right-buttons img {
  width: 100%;
  height: 100%;
}

#editor-container #editor-right-buttons .icon:not(:last-child) {
  margin-right: 32px;
}

#editor-container #editor-right-buttons .icon:hover {
  background: purple;
  border-color: white;
  box-shadow: 0 0 0 2px purple;
  opacity: 1;
}
#editor-container #editor-right-buttons .icon:hover img {
  filter: invert(1);
}
#editor-container #editor-right-buttons .icon:active {
  box-shadow: none;
}

#editor-container #text-edit-tools {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#editor-container #text-edit-tools * {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

#editor-container #editor-title {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  background: none;
  border: none;
  font-size: 125%;
}
#editor-container #editor-title:focus {
  background: white;
  border: default;
}

#editor-container #editor-tags * {
  margin-left: 0.1em;
  margin-right: 0.1em;
}

#editor-container #editor-tools {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#editor-container #editor {
  height: 85%;
  width: 100%;
  resize: none;
  padding: 16px 0 0;
  border: 0 !important;
}

#editor-container #editor .cm-s-mirrormark {
  height: 100%;
}

#editor-container #editor .CodeMirror-scroll {
  height: 100% !important;
  cursor: text;
  padding: 0.5em;
}

#editor-container #editor-close {
  border: none;
  border-radius: 50%;
  margin-bottom: 8px;
  padding: 4px 8px;
  background: none;
}

#editor-container #editor-close:hover {
  background: lightgray;
}
