#editor-container {
  height: 100%;
  width: 100%;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  box-shadow: -2px 0px 16px 0px rgba(0,0,0,0.25);
  background: #eee;
  z-index: 2;
}

.theme-dark #editor-container {
  background-color: #323A45;
}

@media (min-width: 1280px) {
  #editor-container {
    flex: 0 0 800px;
    width: 800px;
  }
}
@media (min-width: 1600px) {
  #editor-container {
    flex: 0 0 1024px;
    width: 1024px;
  }
}

#editor-container #header {
  margin-bottom: 1em;
}

#editor-container #header .row {
  display: flex;
}

#editor-container #header .row:first-child {
  margin-bottom: 0.75em
}

#editor-container #header #header-buttons {
  display: flex;
}

.theme-dark #editor-container #header #header-buttons {
  filter: invert(1);
}

#editor-container #header #header-buttons .icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  padding: 4px;
  opacity: 0.4;
}

#editor-container #header #header-buttons img {
  width: 100%;
  height: 100%;
}

#editor-container #header #header-buttons .icon:not(:last-child) {
  margin-right: 32px;
}

#editor-container #header #header-buttons .icon:hover {
  opacity: 1;
}

#editor-container #header #editor-title {
  background: none;
  color: black;
  border: none;
  font-size: 125%;
  flex: auto;
  margin-right: 64px;
}
#editor-container #header #editor-title:focus {
  background: white;
  border: default;
}
.theme-dark #editor-container #header #editor-title {
  color: white;
}
.theme-dark #editor-container #header #editor-title:focus {
  background-color: #111A23;
  color: white;
}

#editor-container #header #editor-tags {
  display: flex;
  flex: auto;
}
.theme-dark #editor-container #header #editor-tags input {
  color: white;
}
.theme-dark #editor-container #header #editor-tags input:focus {
  background-color: #111A23;
  color: white;
}

#editor-container #header #editor-tags label {
  margin-right: 0.5em;
  color: gray;
}

#editor-container #header #editor-tags input {
  flex: auto;
  background: none;
  border: none;
  font-size: 90%;
}
#editor-container #header #editor-tags input:focus {
  background: white;
  border: default;
}

#editor-container #header #last-save {
  color: gray;
  font-size: 90%;
}
#editor-container #header #last-save span:first-child {
  margin-right: 0.5em;
}

#editor-container #editor {
  height: 100%;
  width: 100%;
  resize: none;
  border: 0 !important;
  display: flex;
}

#editor-container #editor .cm-s-mirrormark {
  height: 100%;
  width: 100%;
}

#editor-container #editor .CodeMirror-scroll {
  height: 100% !important;
  cursor: text;
  padding: 0.5em;
}

#editor-container #editor #type-selector-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

#editor-container #editor #type-selector-dialog button {
  height: 2em;
  width: 8em;
  font-size: 1.5em;
  background: purple;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 2em;
  box-sizing: content-box;
  cursor: pointer;
}
#editor-container #editor #type-selector-dialog button:hover {
  box-shadow: 0 0 0px 2px purple;
}

#handwriting-editor-container {
  height: 100%;
  width: 100%;
}

#editor-container #editor .editor-element-wrapper {
  height: 100%;
  width: 100%;
}
