.handwriting-editor-component-wrapper {
  position: absolute;
  z-index: 2;
  background-color: white;
  top: calc(50vh - 250px);
  left: calc(50vw - 250px);
  border: 1px solid black;
}

.handwriting-editor-component-wrapper-header {
  width: 100%;
  height: 25px;
  background-color: black;
  cursor: move;
}

.toolbox {
  display: flex;
}

.tool {
  font-size: 24px;
}

.tool-active {
  border: 1px solid black;
}

.tool-pen {

}

.tool-eraser {

}

.palette {
  display: flex;
}

.palette_item {
  width: 24px;
  height: 24px;
  border: 1px solid black;
}

.palette_current_color { }
.palette_item_white { background-color: white; }
.palette_item_black { background-color: black; }
.palette_item_red { background-color: red; }
.palette_item_blue { background-color: blue; }
.palette_item_green { background-color: green; }
