/*------------------------------------------------------------------------------
  Toolbox Wrapper
------------------------------------------------------------------------------*/
.toolbox {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.toolbox > * {
  pointer-events: auto;
  display: inline-block;
}

/*------------------------------------------------------------------------------
  Tool
------------------------------------------------------------------------------*/
.toolbox-tool {
  font-size: 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid black;
  margin: 2px;
  user-select: none;
  cursor: pointer;
}

.toolbox-tool:hover {
  transform: scale(1.1);
}
.toolbox-tool:active {
  transform: scale(1.05);
}

.toolbox-tool-active {
  /* border: 1px solid black; */
  display: block;
}

.toolbox-tool-pen { }
.toolbox-tool-eraser { }

/*------------------------------------------------------------------------------
  Tool Size
------------------------------------------------------------------------------*/
.toolbox-size {
  width: 30px;
  height: 30px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 50%;
  cursor: pointer;
  margin: 2px;
}
.toolbox-size::after {
  content: ' ';
  background-color: gray;
  display: block;
}
.toolbox-size.toolbox-size-pen::after {
  border-radius: 50%;
}
.toolbox-size.toolbox-size-eraser::after {
  border-radius: 0%;
}
.toolbox-size.small::after {
  width: 4px;
  height: 4px;
  transform: translate(11px, 11px);
}
.toolbox-size.medium::after {
  width: 10px;
  height: 10px;
  transform: translate(8px, 8px);
}
.toolbox-size.large::after {
  width: 20px;
  height: 20px;
  transform: translate(3px, 3px);
}
.toolbox-size:hover {
  transform: scale(1.1);
}
.toolbox-size:active {
  transform: scale(1.05);
}
.toolbox-size.selected {
  border-color: black;
}
.toolbox-size.selected::after {
  background-color: black;
}

/*------------------------------------------------------------------------------
  Tool Color
------------------------------------------------------------------------------*/
.toolbox-palette {
  display: flex;
}

.toolbox-palette-item {
  width: 30px;
  cursor: pointer;
  height: 30px;
  display: block;
  border-radius: 50%;
  border: 2px solid black;
  margin: 2px;
}

.toolbox-palette-item:hover {
  transform: scale(1.1);
}
.toolbox-palette-item:active {
  transform: scale(1.05);
}

.toolbox-palette-current-color { border-style: groove;}
.toolbox-palette-current-color:hover { transform: scale(1); cursor: auto; }
.toolbox-palette-item-white { background-color: white; }
.toolbox-palette-item-black { background-color: black; }
.toolbox-palette-item-red { background-color: red; }
.toolbox-palette-item-orange { background-color: orange; }
.toolbox-palette-item-yellow { background-color: yellow; }
.toolbox-palette-item-green { background-color: green; }
.toolbox-palette-item-blue { background-color: blue; }
.toolbox-palette-item-indigo { background-color: indigo; }
.toolbox-palette-item-violet { background-color: violet; }
