#search {
  display: flex;
  flex-direction: column;
  width: 600px;
}

#search .search-input {
  width: 100%;
  height: 50px;
  position: relative;
  border: 2px solid;
  border-radius: 25px;
  background: #f9f9ec;
  position: relative;
  background: white;
  z-index: 1;
}

.theme-dark #search .search-input {
  background: #111A23;
  color: #758188;
}

#search .search-input input {
  height: 100%;
}

#search .result-container {
  padding: 32px 0 0;
  border: 2px solid black;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  top: -24px;
  position: relative;
  background: white;
}

.theme-dark #search .result-container {
  background: #111A23;
  border: #758188;
}

#search .search-result {
  display: flex;
  flex-direction: column;
  padding: 8px 8px;
  cursor: pointer;
}

#search .search-result {
  color: white;
}

#search .search-result:hover {
  color: purple;
  background: rgba(0, 0, 0, 0.0625);
}

.theme-dark #search .search-result:hover {
  background: #404E5C;
}

#search .search-result-title {
  font-weight: bold;
  color: purple;
}

.theme-dark #search .search-result-title {
  font-weight: bold;
  color: #E0E3E5;
}

#search .search-result-match {
  padding: 4px 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: gray;
}

.theme-dark #search .search-result-match {
  color: gray;
}

#search .search-icon {
  position: absolute;
  top: 12px;
  left: 8px;
  height: 24px;
}

.theme-dark #search .search-icon {
  filter: invert(1);
}

#search .clear-icon {
  position: absolute;
  top: 12px;
  right: 8px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  border-radius: 100%;
}

.theme-dark #search .clear-icon {
  filter: invert(1);
}

#search .clear-icon:hover {
  background: purple;
  box-shadow: 0 0 0 2px purple;
  border-color: white;
}

#search .clear-icon:hover img {
  filter: invert(1);
}

#search input {
  border: none;
  background: none;
  padding: 0 42px;
  font-size: 20px;
  width: 100%;
}

.theme-dark #search input {
  color: #E0E3E5;
}
