#toolbar {
  position: absolute;
  width: 100%;
  padding: 16px 16px 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

#toolbar > .container {
  display: flex;
}

#toolbar .icon {
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 100%;
  padding: 8px;
  cursor: pointer;
  user-select: none;
  background: #f9f9ec;
  opacity: 0.25;
  pointer-events: auto;
}
#toolbar .icon:not(:last-child) {
  margin-right: 32px;
}
#toolbar .icon:hover {
  background: purple;
  border-color: white;
  box-shadow: 0 0 0 2px purple;
  opacity: 1;
}
#toolbar .icon:hover img {
  filter: invert(1);
}
#toolbar .icon:active {
  box-shadow: none;
}

.theme-dark #toolbar .icon {
  border: 2px solid;
  border-color: #E0E3E5;
  opacity: 0.75;
}
.theme-dark #toolbar .icon:hover {
  background: #323A45;
  box-shadow: 0 0 0 2px white;
  opacity: 1;
}

#toolbar .search {
  pointer-events: auto;
}
