#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

#drag {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 200px;
  width: 200px;
  background: none;
}
