#settings-component {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#settings-component #settings-modal {
  box-shadow: -2px 0px 16px 0px rgba(0,0,0,0.25);
  background-color: white;
  width: calc(512px + 64px);
  max-height: 85%;
  padding: 64px;
  position: relative;
}
.theme-dark #settings-component #settings-modal {
  background-color: #111A23;
  color: white;
}

#settings-component .settings-close {
  position: absolute;
  top: 0;
  right: 0;
}

#settings-component .close-button {
  background: none;
  color: black;
  margin: 0.5em 0.5em 0;
  font-size: 1.5em;
  width: unset;
  height: unset;
}

.theme-dark #settings-component .close-button {
  background-color: #111A23;
  color: white;
}

.theme-dark #settings-component .settings-container {
  overflow: auto;
}

#settings-component .settings-title {
  padding-top: 0em;
  text-align: center;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.theme-dark #settings-component .settings-title {
  color: white;
}

#settings-component .item {
  padding-top: 3em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#settings-component .item label {
  font-size: 1.25em;
}

#settings-component input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

#settings-component .toggle-switch {
  cursor: pointer;
  width: 60px;
  height: 30px;
  background: purple;
  display: inline-block;
  border-radius: 100px;
}

#settings-component .toggle-switch:after {
  content: '';
  float: right;
  position: relative;
  top: 3px;
  left: -32px;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 90px;
  transition: 0.3s;
}

.theme-dark #settings-component input:checked + .toggle-switch {
  background: lightcoral;
}

#settings-component input:checked + .toggle-switch:after {
  left: calc(100% - 38px);
  transform: translateX(-100%);
}

#settings-component button {
  border: none;
  border-radius: 6px;
  background: purple;
  color: white;
  height: 2em;
  width: 5em;
  cursor: pointer;
}
.theme-dark #settings-component button {
  background: lightcoral;
}
