#settings-component {
  position: absolute;
  height: 80%;
  width: 50%;
  top: 15%;
  left: 25%;
  background: #FFF;
  z-index: 3;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  overflow: auto;
}

 .theme-dark #settings-component {
  background-color: #111A23;
  border-color: #758188;
}

#settings-component .settings-close {
  text-align: right;
  align-items: right;
  margin-right: 0.1em;
}

#settings-component .close-button {
  border: none;
}

.theme-dark #settings-component .close-button {
  background-color: #111A23;
  color: white;
}

#settings-component .settings-container {
  height: 80%;
  width: 80%;
  left: 9.5%;
  top: 3%;
  position: relative;
  background: #FFF;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  overflow: auto;
}

.theme-dark #settings-component .settings-container {
  background-color: #111A23;
  border-color: #758188;
  color: white;
}

#settings-component .settings-title {
  padding-top: 0em;
  text-align: center;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

.theme-dark #settings-component .settings-title {
  color: white;
}

#settings-component .checkbox-container {
  padding-top: 3em;
}

#settings-component .settings-checkbox {
  margin-left: 3.2em;
  display: inline-block;
  width: 15px;
  vertical-align: text-top;
}

#settings-component .settings-label {
  display: inline-block;
  width: 300px;
  word-break: break-all;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#settings-component input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

#settings-component .toggle-switch {
  cursor: pointer;
  width: 60px;
  height: 30px;
  margin-left: 20em;
  margin-top: -0.2em;
  background: grey;
  display: inline-block;
  border-radius: 100px;
  position: relative;
}

#settings-component .toggle-switch:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#settings-component input:checked + .toggle-switch {
  background: #bada55;
}

#settings-component input:checked + .toggle-switch:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#settings-component .theme-label {
  position: absolute;
  font-size: 1.25em;
  padding-left: 1em;
  padding-top: -5em;
}
